{% extends 'main.html' %}
{% block content %}
{% if message %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endif %}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <center><h1>Diabetes Predictor</h1></center>
            <div class="card card-body" style="border: 1px solid black;">
                <form class="form-horizontal" action="{{ url_for('predictPage') }}" method="POST">
                    <div class="form-group">
                        <input style="border: 1px solid black;" class="form-control" type="text" name="pregnancies" placeholder="Number of Pregnancies eg. 0">
                    </div>
            		<div class="form-group">
                        <input style="border: 1px solid black;" class="form-control" type="text" name="glucose" placeholder="Glucose (mg/dL) eg. 80">
                    </div>
            		<div class="form-group">
                        <input style="border: 1px solid black;" class="form-control" type="text" name="bloodpressure" placeholder="Blood Pressure (mmHg) eg. 80">
                    </div>
            		<div class="form-group">
                        <input style="border: 1px solid black;" class="form-control" type="text" name="skinthickness" placeholder="Skin Thickness (mm) eg. 20">
                    </div>
            		<div class="form-group">
                        <input style="border: 1px solid black;" class="form-control" type="text" name="insulin" placeholder="Insulin Level (IU/mL) eg. 80">
                    </div>
            		<div class="form-group">
                        <input style="border: 1px solid black;" class="form-control" type="text" name="bmi" placeholder="Body Mass Index (kg/m²) eg. 23.1">
                    </div>
            		<div class="form-group">
                        <input style="border: 1px solid black;" class="form-control" type="text" name="dpf" placeholder="Diabetes Pedigree Function eg. 0.52">
                    </div>
            		<div class="form-group">
                        <input style="border: 1px solid black;" class="form-control" type="text" name="age" placeholder="Age (years) eg. 34">
                    </div>

            		<input type="submit" class="btn btn-info btn-block" value="Predict">
                </form>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
{% endblock %}